body{
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: #40514E;
}
h1{
    /*1em == 16px==100%*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}
p{
    line-height: 2;
}
hr{
    border: dotted #e4f6f6 6px;
    border-bottom: none;
    width: 4%; 
    margin: 20px auto;

}

.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
   
}
a{
    color: #11999E;
}
.prog{
    font-weight: normal;
}
.middle-container{
   margin: 100px 0;
}
.bottom-container{
    background-color:#11999E;
    padding: 20px 0 5px;
    
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    
    
}
.top-cloud{
    position: absolute;
    right:300px;
    top: 50px;
   
}
.my-img{
    border-radius: 100%;
}
.intro{
    width: 30%;
    margin: auto;
}
.skill-img{
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}.pc-img{
    width: 25%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}
.contact-me{
    margin: 40px auto 60px;
}
.skill-row{
    width: 50%;
    margin:100px auto;
    padding: auto;
    text-align: left;
    
}


.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
.copyrigth{
    color: #EAF6F6;
    font-size: .75rem;
}

   
